html {
  scroll-behavior: smooth;
}
.subtitle{
  font-size: 3vw;
}

p{

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contactInfo {
  height: fit-content;
  background-color: #d80404;
  padding: 0.5vw;
  margin: 0;
  text-align: center;
  font-size: 2vw;
  color: white;
  vertical-align: center;
}
.phoneIcon{
  height: 1.5em;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.emailIcon{
  height: 1.5em;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.navTitle{
  margin: 0;
  padding: 1vw;
  color: white;
  font-size: 3vw;
}

.navbar1{
  background-color: black;
  display: flex;
}

.navbar2{
  background-color: black;
}

.MainLogo{
  margin: 0;
  padding: 0;
  height: 1.5em;
  vertical-align: middle;
}

.homeimg{
  width: 100%;
  height: auto;
  display: block;
  float: left;
}

.homepage{
  position: relative;
  align-items: center;
  overflow: auto;
}

.homebox {
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vw;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(216, 4, 4, 0.78);
  height: fit-content;
  width: 60%;
  text-align: center;
}

.homeboxtext1{
  width: fit-content;
  text-align: center;
  word-wrap: normal;
  font-size: 4vw;
  color: white;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.homeboxtext2{
  
  text-align: center;
  word-wrap: normal;
  font-size: 2vw;
  color: white;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.browseOptions{
  display:inline-block;
  margin: 1vw;
  margin-bottom: 0;
  padding: 1vw;
  border:0.05em solid rgba(0, 0, 0, 0.657);
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  background-color: #d80404;
  color: white;
  font-size: 1.75vw;
  font-weight: 300;
  text-align:center;
}

.browseOptions:hover{
  color:white;
  background-color:black;
  }

/* about */

.aboutpagetitle{
  color: white;
  background-color: #000000;
  margin: 0;
  padding: 0.8vw;
  padding-left: 1vw;
}

.aboutcontainer{
  position: relative;
  align-items: center;
  border-bottom: 2px;
  overflow: auto;
}

.aboutimg{
  width: 100%;
  height: auto;
  display: block;
  float: left;
}

.abouttext1{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8vw;
  /* background-color: rgba(216, 4, 4, 0.78); */
  background-color: rgba(0, 0, 0, 0.78);
color: white;
  padding: 1vw;
  color: #FFFFFF; 
  height: fit-content;
  width: 90%;
  text-indent: 2vw;
}

.abouttable{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  table-layout: fixed;
}
.aboutrow{
  width: 100%;
}

.aboutitem{
  font-size: 3vw;
  background-color: rgba(216, 4, 4, 0.78);
  padding: 1vw;
  color: #FFFFFF; 
  width: fit-content;
  margin: 0;
  text-align: center;
  display: table-cell;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center{
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: fit-content;
  position: relative;
}

/* options page */
.browsetoday{
  color: white;
  background-color: #000000;
  margin: 0;
  padding: 0.8vw;
  text-align: center;
}
.optionstitle{
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 !important;
  font-size: 2vw;
}

.card{
  border: 1px solid rgba(0,0,0,.125) !important;
}
.card-header{
  background-color: white !important;
  padding: 1vw !important;
  vertical-align: middle !important;
  cursor: pointer;
}

.card-header:hover{
  background-color: #d80404!important;
  color: white;
}

.fencecard{
  margin: 2vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1vw;
  border: 1px solid rgba(0,0,0,.125) !important;
  width: 30vw;
  height: 100%;
}

.fenceName{
  font-size: 1.5vw;
}

.fenceDesc{
  font-size: 1vw;
}

.fencetable{
  table-layout: fixed;
  width: 100%;
}

.fenceoptionimg{
  width: 100%;
}

.requestQuote{
  color: white;
  background-color: #d80404;
  margin: 0;
  padding: 0.8vw;
  text-align: center;
  font-size: 1.5vw;
}

.requestQuote:hover{
  color: white;
  background-color: black;
}

.h100{
  height: 100%;
  margin: 0 !important;
}



.newsection{
  height: 1vw;
}

.reqnow{
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: fit-content;
  padding: 1vw;
  text-align: center;
  font-size: 2vw;
  background-color:#d80404;
  border:0.05em solid rgba(0, 0, 0, 0.657);
  color: #FFFFFF;
}

.reqnow:hover{
  background-color: black;
  color:white;
}

.steps{
  font-size: 1.7vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: 0 !important;
  ;
}

.modal-body{
  padding-top: 0 !important;
  margin: 0 !important;
}

.modal-title{
  font-size: 2vw !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  text-align: center !important;
  margin-left: auto !important;
}

.modal-header{
  padding: 1vw !important;
  text-align: center !important;
}

.labels{
  font-size: 1.6vw;
}

.myhover:hover{
  border: 1px solid #0d6efd;
}

.inputBooking{
  font-size: 1.5vw !important;
  padding-top: 0.1em !important;
  padding-bottom: 0.1em !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}

.form-group{
  margin-bottom: 0 !important;
}

.modal-lg{
  width: 70% !important;
  max-width: none !important;
}

.submit {
  font-size: 1.5vw !important;
  background-color: #0d6efd !important;
  color: white !important;
}

.closebtn{
  font-size: 1.5vw !important;
  color: white !important;
}

.thanks{
  margin-top: auto;
  margin-bottom: auto;
}


.navTitle{

}

.lang{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.langbtn{
  text-align: center;
  height: fit-content;
  font-size: 1.5vw;
  margin-right: 1vw;
  
  color: white;
  background-color: #d80404;
  text-align: center;
  font-size: 1.5vw;
  border:0.05em solid rgba(0, 0, 0, 0.657);
}

.langbtn:hover{
  background-color: grey;

}

.t6 .aboutitem{
padding: 2.64vw !important;
}